/********************************************* 
                    RESET 
*********************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

img{
    width: 100%;
}

h1{
    color: #9792E4;
}

h2{
    color: white; 
    margin: 100px 0px 0px;
    font-size: 40px;
}

h3{
    font-size: 25px;
    color: #0083FC;
}

h4{
    font-size: 25px;
    margin: 20px;
}

p{
    line-height: 35px;
    margin: 25px 0px;
}

/********************************************* 
                    BACKGROUND
 *********************************************/

.bg-purple{
    background-color: #9792e4;
}

.bg-radius{
    margin:auto;
    border-radius: 30px;
    padding: 30px;
}

.bg-white{
    background-color: white;
}


/********************************************* 
                    BUTTON
 *********************************************/

.circle-arrow{
    padding: 20px 25px;
    border-radius: 50%;
    color: black;
    border: none;
    margin-top: 40px;
}

.wide-button{    
    font-size: 15px;
    padding: 10px 45px;
    font-weight: bold;
    letter-spacing: 3px;
    border: none;
    border-radius: 20px;
}

.small-button{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
}

.blue-button{
    background-color: #0084FD;
    color: white;
}

.white-button{
    background-color: white;
    color: black;
}

/********************************************* 
                    HEADER
 *********************************************/

header{
    background-color: #0083FC;
    width: 100%;
}

.container-header, .flex-container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.col-left, .col-right{
    height: 80px;
    display: flex;
    align-items: center;
}

.col-right{
    width: 90%;
    justify-content: flex-end;
}

.desktop-menu{
    display: none;
}

.mobile-menu{
    color: white;
    font-size: 30px;
}

 /********************************************* 
                    MAIN
 *********************************************/

/********************************************* 
                PRIMA SEZIONE 
*********************************************/

main{
    width: 100%;
}

.flex-container{
    width: 80%;
    margin: 50px auto;
    flex-wrap: wrap;
}

.card:first-of-type{
    text-align: left;
}

.card{
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.up-card{
    margin-bottom: 30px;
}

.card p{
    color: #5A6E7F;
    font-weight: bold;
}


.card > .wide-button{
    margin-bottom: 30px;
}

.card .phone{
    display: flex;
    align-self: flex-end;
    max-width: 250px;
}

.card > i{
    color: #0084FD;
    font-size: 80px;
    margin-bottom: 30px;
}

/********************************************* 
                SECONDA SEZIONE 
*********************************************/

.background{
    width: 100%;
    padding-top: 50px;
}

.col-1-2:first-of-type p{
    font-size: 20px;
    color: white;
    margin: 80px 0px 40px;
}

.col-1-2:last-of-type{
    text-align: center;
    margin-bottom: 70px;
}

.col-1-2:last-of-type p{
    color: black;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.col-1-2:last-of-type .fa-arrow-down-long{
    font-size: 20px;
}

/********************************************* 
                TERZA SEZIONE 
*********************************************/

.flex-container:nth-of-type(3){
    text-align: center;
}

.flex-container:nth-of-type(3) div:first-child{
    margin: 0px auto 30px;
    font-size: 20px;
}

.flex-container:nth-of-type(3) p{
    font-size: 20px;
    margin-bottom: 50px;
}

/* CONTAINER TESTIMONIAL */

.test-container{
    width: 100%;
}

.circle{
    object-fit: cover;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
}

.interview{
    color: white;
    margin: 15px 0 0;
}

.text-inter > .fa-quote-left{
    position: relative;
    bottom: 5px;
}

.text-inter > span{
    line-height: 35px;
}

.text-inter > .fa-quote-right{
    position: relative;
    top: 5px;
}

.name-test{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}










/********************************************* 
                    FOOTER
*********************************************/




/********************************************* 
                    RESPONSIVE
*********************************************/

/*************** TABLET (576px) ***************/

@media screen and (min-width:576px) {

/********************************************* 
                    BUTTON
*********************************************/

.circle-arrow{
    padding: 10px 15px;
    margin-top: 30px;
}

/********************************************* 
                    HEADER
 *********************************************/

    .container-header{
        padding: 0;
    }

 /********************************************* 
                    MAIN
 *********************************************/

/********************************************* 
                PRIMA SEZIONE
 *********************************************/

    .container-header, .flex-container{
        width: 90%;
    }

    .card:first-of-type{
        width: calc(2/3 * 100% - 5px);
        text-align: left;
    }

    .card{
        width: calc(1/3 * 100% - 10px);
        position: relative;
    }

    .down-card{
        position: absolute;
        bottom: 0;
    }

/********************************************* 
                SECONDA SEZIONE 
*********************************************/

    h1{
        font-size: 55px;
    }

    .col-1-2:first-of-type > p{
        font-size: 10px;
        line-height: 20px;
        color: #F8F7FD;
    }

    .col-1-2:last-of-type > h4{
        font-size: 20px;
    }

    .col-1-2:last-of-type > p{
        font-size: 15px;
    }

    .col-1-2:last-of-type .fa-arrow-down-long{
        font-size: 10px;
    }

/********************************************* 
                TERZA SEZIONE 
*********************************************/

    .test{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .circle{
        width: 25vw;
        height: 25vw;
    }

    .text-inter{
        padding-left: 50px;
        text-align: left;
    }
}


/*************** (576px) fixing a bug ***************/

@media screen and (min-width:700px) {
        .down-card{
            position: relative;
        }
}

/*************** DESKTOP (992px) ***************/

@media screen and (min-width:992px) {

    h2{
        font-size: 35px;
    }

/********************************************* 
                    BUTTON
*********************************************/
    
    .circle-arrow{
        padding: 20px 25px;
    }

/********************************************* 
                    HEADER
*********************************************/

    .mobile-menu{
        display: none;
    }

    .container-header, .flex-container{
        width: 70%;
    }

    .desktop-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
    }

    .desktop-menu > div{
        margin: 0 20px;
        font-size: 17px;
    }

    .desktop-menu > .small-button{
        margin-bottom: 0;
        margin-left: 20px;
    }

 /********************************************* 
                    MAIN
 *********************************************/


 /********************************************* 
                PRIMA SEZIONE
 *********************************************/
    .card:first-of-type{
        display: flex;
    }

    .card > .down-card{
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .card .up-card p{
        width: 300px;
    }

/********************************************* 
                SECONDA SEZIONE
*********************************************/

    .padding{
        padding: 50px 150px 80px; 
    }

    .col-1-2{
        width: 45%;
    }

    .col-1-2:first-of-type > p{
        display: flex;
        align-content: space-between;
        font-size: 20px;
        color: white;
        line-height: 35px;
    }
    
    .col-1-2:last-of-type{
        text-align: center;
        display: flex;
        align-self: flex-end;
    }
    
    .col-1-2:last-of-type  p{
        color: black;
        font-style: italic;
        font-size: 20px;
        line-height: 35px;
        font-weight: 400;
    }
    
    .col-1-2:last-of-type img{
        width: 70%;
    }

    .col-1-2:last-of-type .fa-arrow-down-long{
        font-size: 20px;
    }

/********************************************* 
                TERZA SEZIONE
*********************************************/

    .flex-container:nth-of-type(3){
        display: block;
    }
    
    .circle{
        width: 15vw;
        height: 15vw;
    }
}