/********************************************* 
                    RESET 
*********************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

img{
    width: 100%;
}

h1{
    color: #9792E4;
}

h2{
    color: white; 
    margin: 100px 0px 0px;
    font-size: 40px;
}

h3{
    font-size: 25px;
    color: #0083FC;
}

h4{
    font-size: 25px;
    margin: 20px;
}

p{
    line-height: 35px;
    margin: 25px 0px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

/********************************************* 
                    BUTTON
 *********************************************/

.circle-arrow{
    padding: 20px 25px;
    border-radius: 50%;
    color: black;
    border: none;
    margin-top: 40px;
}

.wide-button{    
    font-size: 15px;
    padding: 10px 45px;
    font-weight: bold;
    letter-spacing: 3px;
    border: none;
    border-radius: 20px;
}

.small-button{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
}

.big-button{
    letter-spacing: 3px;
    border-radius: 30px;
    padding: 20px 70px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.blue-button{
    background-color: #0084FD;
    color: white;
}

.white-button{
    background-color: white;
    color: black;
}

.purple-button{
    background-color: #9792e4;
    color: white;
}

/********************************************* 
                    BACKGROUND
*********************************************/

.bg-radius{
    margin: 0 auto;
    border-radius: 30px;
    padding: 30px;
}

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color: #9792e4;
}

.bg-black{
    background-color: #333333;
}

.bg-blue{
    background-color: #0083FC;
}

.bg-lightblue{
    background-color: #B5DDFF;
}

/********************************************* 
                    COLOR
*********************************************/

.purple{
    color: #9792e4;
}

.orange{
    color: #FDC15F;
}

.lightgray{
    color: lightgrey;
}

.black{
    color: black;
}

.white{
    color: white;
}

.gray{
    color: #5A6E7F;
}

.blue{
    color: #0083FC;;
}


/********************************************* 
                    HEADER
*********************************************/

header{
    width: 100%;
}

.container-header{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.container{
    margin: auto;
    width: 80%;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.col-left, .col-right{
    height: 80px;
    display: flex;
    align-items: center;
}

.col-right{
    width: 90%;
    justify-content: flex-end;
}

.desktop-menu{
    display: none;
}

.mobile-menu{
    font-size: 30px;
}

 /********************************************* 
                    MAIN
 *********************************************/

/********************************************* 
                PRIMA SEZIONE 
*********************************************/

main{
    width: 100%;
}

.container{
    width: 80%;
    margin: 50px auto;
    flex-wrap: wrap;
}

.card:first-of-type{
    text-align: left;
}

.card{
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.up-card{
    margin-bottom: 30px;
}

.card p{
    font-weight: bold;
}


.card > .wide-button{
    margin-bottom: 30px;
}

.card .phone{
    display: flex;
    align-self: flex-end;
    max-width: 250px;
}

.card > i{
    font-size: 80px;
    margin-bottom: 30px;
}

/********************************************* 
                SECONDA SEZIONE 
*********************************************/

.background{
    width: 100%;
    padding-top: 50px;
}

.col-1-2:first-of-type p{
    font-size: 20px;
    margin: 80px 0px 40px;
}

.col-1-2:last-of-type{
    text-align: center;
    margin-bottom: 70px;
}

.col-1-2:last-of-type p{
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.col-1-2:last-of-type .fa-arrow-down-long{
    font-size: 20px;
}

/********************************************* 
                TERZA SEZIONE 
*********************************************/

.container:nth-of-type(3){
    text-align: center;
}

.container:nth-of-type(3) div:first-child{
    margin: 0px auto 30px;
    font-size: 20px;
}

.container:nth-of-type(3) p{
    font-size: 20px;
    margin-bottom: 50px;
}

/* CONTAINER TESTIMONIAL */

.test-container{
    width: 100%;
}

.circle{
    object-fit: cover;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
}

.interview{
    margin: 15px 0 0;
}

.text-inter > .fa-quote-left{
    position: relative;
    bottom: 5px;
}

.text-inter > span{
    line-height: 35px;
}

.text-inter > .fa-quote-right{
    position: relative;
    top: 5px;
}

.name-test{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

/********************************************* 
                QUARTA SEZIONE 
*********************************************/

.title{
    text-align: center;
    margin: 50px 0;
    width: 100%;
}

.number{
    font-size: 60px;
}

.benefits > .bg-radius > h2{
    margin-top: 15px;
}

.bg-purple > .container > .bg-radius{
    margin-bottom: 40px;
}

/********************************************* 
                QUINTA SEZIONE 
*********************************************/

.left-col{
    padding-top: 90px;
    padding-bottom: 40px;
}

.about-us h1{
    font-size: 50px;
}

.about-us > p{
    font-weight: 500;
    font-size: 17px;
}

.img-container{
    width: 50vw;
    height: 50vw;
    position: relative;
}

.mark{
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 20vw;
}

.under-image{
    font-size: 30px;
    margin-top: 30px;
}

.about-us > .right-col > button{
    padding: 5px 15px;
    margin-top: 30px;
}

.about-us > .right-col .fa-linkedin{
    margin-right: 10px;
}

.about-us{
    padding-bottom: 50px;
}

/********************************************* 
                    FOOTER
*********************************************/

/********************************************* 
                TOP FOOTER
*********************************************/

.top-footer{
    text-align: center;
    padding: 70px 30px;
}

.top-footer > div:first-child{
    font-size: 20px;
    letter-spacing: 3px;
}

.top-footer > h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.top-footer > h1{
    font-size: 70px;
}

/********************************************* 
                BOTTOM FOOTER
*********************************************/

.bottom-footer{
    text-align: center;
    padding: 30px;
}

.bottom-footer p:first-child{
    margin-bottom: 70px;
}











/********************************************* 
                    RESPONSIVE
*********************************************/









/*************** TABLET (576px) ***************/

@media screen and (min-width:576px) {

/********************************************* 
                    BUTTON
*********************************************/

.circle-arrow{
    padding: 10px 15px;
    margin-top: 30px;
}

/********************************************* 
                    HEADER
 *********************************************/

    .container-header{
        padding: 0;
    }

 /********************************************* 
                    MAIN
 *********************************************/

/********************************************* 
                PRIMA SEZIONE
 *********************************************/

    .container-header, .container{
        width: 90%;
    }

    .card:first-of-type{
        width: calc(2/3 * 100% - 5px);
        text-align: left;
    }

    .card{
        width: calc(1/3 * 100% - 10px);
        position: relative;
    }

    .down-card{
        position: absolute;
        bottom: 0;
    }

/********************************************* 
                SECONDA SEZIONE 
*********************************************/

    .benefits h1{
        font-size: 55px;
    }

    .col-1-2:first-of-type > p{
        font-size: 10px;
        line-height: 20px;
        color: #F8F7FD;
    }

    .col-1-2:last-of-type > h4{
        font-size: 20px;
    }

    .col-1-2:last-of-type > p{
        font-size: 15px;
    }

    .col-1-2:last-of-type .fa-arrow-down-long{
        font-size: 10px;
    }

/********************************************* 
                TERZA SEZIONE 
*********************************************/

    .test{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .circle{
        width: 25vw;
        height: 25vw;
    }

    .text-inter{
        padding-left: 50px;
        text-align: left;
    }

/********************************************* 
                QUARTA SEZIONE 
*********************************************/

    .white-title{
        margin: 70px auto;
    }

    .bg-purple > .container > .bg-radius{
        width: calc(1/2 * 100% - 40px);
        display: flex;
        flex-wrap: wrap;
    }

    .bg-purple > .container > .bg-radius > .number,
    .bg-purple > .container > .bg-radius > h2,
    .bg-purple > .container > .bg-radius > .p
    .bg-purple > .container > .bg-radius > button{
        width: 100%;
    }

/********************************************* 
                QUINTA SEZIONE 
*********************************************/

    .about-us{
        padding-bottom: 0;
    }

    .left-col, .right-col{
        padding-top: 50px;
    }

    .left-col{
        width: 55%;
    }

    .right-col{
        width: 35%;
    }

    .left-col > h1{
        font-size: 70px;
    }

    .img-container{
        width: 25vw;
        height: 25vw;
    }

    .mark{
        font-size: 10vw;
    }

/********************************************* 
                    FOOTER
*********************************************/

/********************************************* 
                TOP FOOTER
*********************************************/

    .top-footer > p{
        width: 40%;
        margin: 20px auto;
    }

    .top-footer > .orange{
        font-size: 90px;
    }

/********************************************* 
                BOTTOM FOOTER
*********************************************/

    .bottom-footer > p{
        width: 40%;
        margin: auto;
    }
}





















/*************** (576px) fixing a bug ***************/

@media screen and (min-width:700px) {
        .down-card{
            position: relative;
        }
}




















/*************** DESKTOP (992px) ***************/

@media screen and (min-width:992px) {

    h2{
        font-size: 35px;
    }

/********************************************* 
                    BUTTON
*********************************************/
    
    .circle-arrow{
        padding: 20px 25px;
    }

/********************************************* 
                    HEADER
*********************************************/

    .mobile-menu{
        display: none;
    }

    .container-header, .container{
        width: 70%;
    }

    .desktop-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
    }

    .desktop-menu > a{
        margin: 0 20px;
        font-size: 17px;
        text-decoration: none;
    }

    .desktop-menu > .small-button{
        margin-bottom: 0;
        margin-left: 20px;
    }


/********************************************* 
                    MAIN
*********************************************/


/********************************************* 
                PRIMA SEZIONE
*********************************************/
    .card:first-of-type{
        display: flex;
    }

    .card > .down-card{
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .card .up-card p{
        width: 300px;
    }

/********************************************* 
                SECONDA SEZIONE
*********************************************/

    .padding{
        padding: 50px 150px 80px; 
    }

    .col-1-2{
        width: 45%;
    }

    .col-1-2:first-of-type > p{
        display: flex;
        align-content: space-between;
        font-size: 20px;
        color: white;
        line-height: 35px;
    }
    
    .col-1-2:last-of-type{
        margin-bottom: 0;
        text-align: center;
        display: flex;
        align-self: flex-end;
    }
    
    .col-1-2:last-of-type  p{
        color: black;
        font-style: italic;
        font-size: 20px;
        line-height: 35px;
        font-weight: 400;
    }
    
    .col-1-2:last-of-type img{
        width: 70%;
    }

    .col-1-2:last-of-type .fa-arrow-down-long{
        font-size: 20px;
    }

/********************************************* 
                TERZA SEZIONE
*********************************************/

    .container:nth-of-type(3){
        display: block;
    }

    .circle{
        width: 15vw;
        height: 15vw;
    }

/********************************************* 
                QUARTA SEZIONE
*********************************************/

    .bg-purple > .container > .bg-radius{
        width: calc(1/3 * 100% - 40px);
    }

    .bg-purple > .container > .bg-radius > button{
        align-self: flex-end;
    }

/********************************************* 
                QUINTA SEZIONE
*********************************************/

    .img-container{
        width: 15vw;
        height: 15vw;
    }

    .img-container > img{
        width: 15vw;
        height: 15vw;
    }

    .mark{
        font-size: 6vw;
    }

}